/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--cor-background);
}

main {
  display: flex;
  width: 100vw;
}

.container {
  margin: 0 auto;
  /* align-content: center; */
}
