/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--cor-background);
}

main {
  display: flex;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
